html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #F9F9F9;
    font-family: "Helvetica";
}
nav{
    display: flex;
    height: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3B5998;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFF;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*----- Register ------*/
.register{
    text-align: center;
}
.obligation{
    color: red;
}
.condition_register{
    color: #5a5a5a;
    margin-left: 237px;
}
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="password"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background-color: #3B5998;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background-color: #3B5998;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #3B5998;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #3B5998;
}
/*------ LOGIN ------*/
.login{
    margin-bottom: 10%;
}
.button_action-register{
    background-color: #3B5998;
}
h3{
    margin-bottom: 50px;
}
/*--------- HOME ----------*/
main{
    width: 100%;
    height: 100%;
}
.flex_home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-left: 5%;
    margin-right: 5%;
}
.colum_container{
    width: 60%;
    height: 100%;
    background: white;
    margin-top: 20px;

}
.column_profil{
    width: 30%;
    height: 100%;
    background-color: #3B5998;
    margin-top: 20px;
    text-align: center;
}
tr{
    width: 100%;
}
.title_profil{
    color: white;
    margin-bottom: 10px;
}
.img_profil{
    width: 100px;
}
.categorie{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
.button_to_profil{
    padding: 8px 10px 8px 10px;
    border: 1px solid #8a8a8a;
    margin: 15px 40px;
    color: white;
    border-radius: 10px;
}
.button_to_profil:hover {
    background: #F9F9F9;
    color: #3B5998;
    border-color: #8a8a8a;
}
.text_deco{
    text-decoration: none;
}
.center_title_home{
    text-align: center;
    color: #3B5998;
    margin: 15px 0px 10px 0px;
}
.show_home{
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 20px;
}
.size_show_home{
    width: 20%;
}
.size_posted{
    font-size: 12px;
    padding-bottom: 1px;
}
/*--------- navbar -----------*/
.img_nav{
    width: 16px;
    height: 13px;
}
/*--------- PROFILE ----------*/
.flex_profil{
    display: flex;
    margin-left: 10%;
    margin-top: 25px;
    width: 80%;
}
.p_action{
    text-align: center;
    color: #3B5998;
    font-size: 20px;
    border-bottom: 1px solid #3B5998;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.actions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border-bottom: 1px solid #3B5998;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.img_upload{
    width: 100px;
    height: 100px;
    display: block;
}
.contenu_profil{
    width: 100%;
}
.size_upload{
    width: 15%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 20px;
}
.name_img{
    display: block;
    height: 25px;
    width: 100%;
}
.logo_download{
    width: 25px;
    height: 25px;
}
.form_replace{
    border-left: 2px solid #3B5998;
    padding-left: 5px;
    margin-left: 5px;
}
.size_folder{
    font-size: 15px;
}